* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
  header{
    background-color: rgba(3, 129, 202, 0.788);
    background-image: url(../img/pattern.png);
    background-size: 30%;
    height: 120px;
  }
 .logo{
   height: 50px;
   margin-top: 60px;
 }
  h1{
   font-size: 60px;
  }
  main{
   margin-top: 20px;
  }
  .autore{
   color: gray;
  }
.nomeautore{
   color: rgba(3, 129, 202, 0.788);
}
 .photo{
   margin-top: 20px;
   margin-bottom: 20px;
 }
  .didascalie{
   font-size: 14px;
  }

  ul{
   margin: 20px;
  }
  table{
   text-align: left;
   border-collapse: collapse;
   margin-bottom: 20px;
  }
  thead{
   background-color: rgba(0, 60, 255, 0.76);
  }
  .odd{
   background-color: lightblue;
  }
  .th3{
   width: 50%;
  }
  .paragrafi{
   font-size: 19px;
  }
  footer{
   margin: 20px 0;
  }
  footer h2{
   font-size: 25px;
   color: gray;
   margin-bottom: 10px;
  }
  .image{
   width: 200px;
   height: 150px;
   color: whitesmoke;
   margin: 10px 0;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 0px;
  }
  #image-monitor{
   background-image: url(../img/monitor.jpg);
  }
  #image-gra{
   background-image: url(../img/graph.jpg);
  }

  .container{
    width: 80%;
    margin: 0 auto;
   }